@import '../../styles/_mixins';
@import '../../styles/fonts';

table {
    width: 100%;
}

td {
    width: 200px;
}

.word {
    font-family: "Roboto", sans-serif;
    // border: 1px solid black;
}

.word-save {
    background-color: rgb(156, 240, 156);
    @include btn;
    margin-right: 5px;
}

.word-edit {
    background-color: rgb(240, 240, 156);
    @include btn;
    margin-right: 5px;
}

.word-delete,
.word-cancel {
    background-color: rgb(240, 156, 156);
    @include btn
}

input {
    height: 20px;
    text-align: center;
    width: 180px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: rgb(248, 216, 212);
    margin-right: 20px;
}

.error_border {
    border: 2px solid red;
}