@import '../../styles/fonts';

table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

td {
    width: 200px;
    border-bottom: 0.5px solid black;
}

.word {
    font-family: "Roboto", sans-serif;
}

.saveButton {
    background-color: rgb(156, 240, 156);
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    &:hover {
        color: #FFFFFF;
    }
}

.editButton {
    background-color: rgb(240, 240, 156);
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    &:hover {
        color: #FFFFFF;
    }
}

.deleteButton,
.cancelButton {
    background-color: rgb(240, 156, 156);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    &:hover {
        color: #FFFFFF;
    }
}

input {
    height: 25px;
    text-align: center;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: rgb(248, 216, 212);
    margin-right: 20px;
    border: none;
}

.error_border {
    border: 2px solid red;
}