@import './fonts';

@mixin btn {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.68px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 30px;
}