@import '../../styles/_mixins';
@import '../../styles/fonts';

.card-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.previous-btn, .next-btn {
    background-color: rgb(156, 240, 156);
    @include btn
}