@import '../../styles/fonts';

.card {
    font-family: "Roboto", sans-serif;
    border: 1px solid black;
    margin-bottom: 10px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(248, 216, 212);
    border-radius: 10px;
}

.english {
    font-weight: 700;
}

.wordCheck {
    background-color: rgb(240, 156, 156);
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    &:hover {
        color: #FFFFFF;
    }
}