header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: rgb(248, 216, 212);
}

.title {
    font-size: 22px;
    color: rgb(228, 71, 71);
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #FFF;
}