@import '../../styles/mixins';
@import '../../styles/fonts';

table {
    width: 100%;
}

td {
    width: 200px;
}

.word {
    font-family: "Roboto", sans-serif;
    border: 1px solid black;
}

.word-english {
    font-weight: 700;
}


.word-save {
    background-color: rgb(156, 240, 156);
    @include btn
}

.word-edit {
    background-color: rgb(240, 240, 156);
    @include btn
}

.word-delete {
    background-color: rgb(240, 156, 156);
    @include btn
}